<a href="https://colab.research.google.com/github/oluwaseuno25/OLUWASEUN_INFO5502_-Summer2022/blob/main/lab_assignment_02.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#To generate 12 random numbers between 1 and 100 and sort the list in ascending and descending number,Average calculated for the group
import random
list=[]
for i in range(12):
    num=random.randint(1,100)
    list.append(num)
    print(list[i], end=" ")
list.sort()
#ascending order
print("List in Ascending Order:",list)
list.sort(reverse=True)
print('List in Descending Order: ', list)

# Calculate average values for ascending order values
def Average(l): 
    avg = sum(l) / len(l) 
    return avg
my_list1 = [7, 8, 11, 12, 16, 17, 19, 34, 44, 49, 73, 82] 
average = Average(my_list1) 
print("Average of my_list1 is", average)
# Calculate average values for descending order values

from statistics import mean

def Average(l): 
    avg = mean(l) 
    return avg
  
my_list2 = [91, 85, 82, 80, 72, 36, 20, 18, 18, 14, 3, 2] 
average = Average(my_list2) 
  
print ("Average of my_list_2 is", average)

8 23 71 62 62 26 71 3 57 9 14 9 List in Ascending Order: [3, 8, 9, 9, 14, 23, 26, 57, 62, 62, 71, 71]
List in Descending Order:  [71, 71, 62, 62, 57, 26, 23, 14, 9, 9, 8, 3]
Average of my_list1 is 31.0
Average of my_list_2 is 43.416666666666664

In [ ]:
# Question 2 
print("r\t V")
# Loop iterate from 1 to 10
for r in range(1,11):
  # Volume V of the sphere
  volume =4/3*3.1416*r*r*r
  # Display r and V
  print(r,"\t",volume)

r	 V
1 	 4.1888
2 	 33.5104
3 	 113.09759999999997
4 	 268.0832
5 	 523.6
6 	 904.7807999999998
7 	 1436.7584
8 	 2144.6656
9 	 3053.6352
10 	 4188.8

In [45]:
# Difference in the number of Occupied Housing Units from year to year
import pandas as pd
houseunits =pd.read_csv("https://raw.githubusercontent.com/suthapalliuday/INFO5502-Summer2022/main/datasets/lab_assignment_02_denton_housing.csv")
df.head()
houseunits.head()
print(houseunits)
occupied_units = houseunits[houseunits["title_field"] =="Occupied Housing Units"].sort_values(by=["year"])
diff_occupiedunits =[list(occupied_units["value"].values)[loop1] - list(occupied_units['value'].values)[loop1+1]\
             for loop1 in range(len(occupied_units)-1)]
diff_occupiedunits = sorted(diff_occupiedunits)
diff_occupiedunits

    year             title_field  value
0   2014     Total Housing Units  49109
1   2014    Vacant Housing Units   2814
2   2014  Occupied Housing Units  46295
3   2013     Total Housing Units  47888
4   2013    Vacant Housing Units   4215
5   2013  Occupied Housing Units  43673
6   2012     Total Housing Units  45121
7   2012    Vacant Housing Units   3013
8   2012  Occupied Housing Units  42108
9   2011     Total Housing Units  44917
10  2011    Vacant Housing Units   4213
11  2011  Occupied Housing Units  40704
12  2010     Total Housing Units  44642
13  2010    Vacant Housing Units   3635
14  2010  Occupied Housing Units  41007
15  2009     Total Housing Units  39499
16  2009    Vacant Housing Units   3583
17  2009  Occupied Housing Units  35916
18  2008     Total Housing Units  41194
19  2008    Vacant Housing Units   4483
20  2008  Occupied Housing Units  36711
21  2014          Owner Occupied  21427
22  2014         Renter Occupied  24868
23  2013          Owner Occupied  20845
24  2013         Renter Occupied  22828
25  2012          Owner Occupied  20068
26  2012         Renter Occupied  22040
27  2011          Owner Occupied  18478
28  2011         Renter Occupied  22226
29  2010          Owner Occupied  18867
30  2010         Renter Occupied  22140
31  2009          Owner Occupied  18057
32  2009         Renter Occupied  17859
33  2008          Owner Occupied  17340
34  2008         Renter Occupied  19371
35  2014       Median Gross Rent    905
36  2013       Median Gross Rent    887
37  2012       Median Gross Rent    842
38  2011       Median Gross Rent    821
39  2010       Median Gross Rent    780
40  2009       Median Gross Rent    769
41  2008       Median Gross Rent    768

[-5091, -2622, -1565, -1404, 303, 795]

In [69]:
  #percentage of housing units which are vacant and occupied  
unique_years = sorted(list(houseunits['year'].unique()))   #  list of unique year number
occuped_houses = houseunits[houseunits['title_field'] == 'Occupied Housing Units'].sort_values(by=['year'])
vacant_houses = houseunits[houseunits['title_field'] == 'Vacant Housing Units'].sort_values(by=['year'])

new_houseunit_df = pd.DataFrame()
new_houseunit_df['year'] = unique_years
new_houseunit_df['Vacant House'] = vacant_houses['value'].values
new_houseunit_df['Occupied House'] = occuped_houses['value'].values
new_houseunit_df['Percent of Vacant House'] = [(new_houseunit_df['Vacant House'][loop1] * 100) /\
                                           (new_houseunit_df['Vacant House'][loop1] + new_houseunit_df['Occupied House'][loop1])\
                                           for loop1 in range(len(new_houseunit_df))]
                                       
new_houseunit_df['Percent of Occupied House'] = [(new_houseunit_df['Occupied House'][loop1] * 100) /\
                                           (new_houseunit_df['Vacant House'][loop1] + new_houseunit_df['Occupied House'][loop1])\
                                           for loop1 in range(len(new_houseunit_df))]
new_houseunit_df

,year,Vacant House,Occupied House,Percent of Vacant House,Percent of Occupied House
0,2008,4483,36711,10.882653,89.117347
1,2009,3583,35916,9.071116,90.928884
2,2010,3635,41007,8.142556,91.857444
3,2011,4213,40704,9.379522,90.620478
4,2012,3013,42108,6.677600,93.322400
5,2013,4215,43673,8.801788,91.198212
6,2014,2814,46295,5.730111,94.269889

In [64]:
#Highest number of housing units that were vacant
max_vacant_houses = max(houseunits[houseunits['title_field'] == 'Vacant Housing Units'].value)
vacant_houses = vacant_houses[vacant_houses['value'] == max_vacant_houses]
vacant_houses

    year           title_field  value
19  2008  Vacant Housing Units   4483

In [67]:
# Import statistics Library
import statistics

# Calculate harmonic mean
print(statistics.harmonic_mean(list(houseunits[houseunits['title_field'] == 'Total Housing Units'].value)))

44398.28543969185